/************************************************
    CUSTOM PROPERTIES
 ************************************************/

/************************************************
    RESET 
 ************************************************/
body {
    background-color: whitesmoke;
}

a {
    color: inherit;
    text-decoration: none;
}

/************************************************
    UTILITIES 
 ************************************************/

/************************************************
    MAIN 
 ************************************************/
